
<div style="padding: 0;margin: 0;font-family: 'Exo', sans-serif; height: 100%;width: 100%; background-color: #eaeaea; text-align:center">
	<div style="max-width: 600px;padding: 60px 10px; margin: auto;">
		<div style="width: 100%; text-align: center;">
			<img  src="http://panaroma.technodev.xyz/assets/email/Panorama_logo.png"/>
		</div>
		<div  style="width: 100%;margin: auto;background-color: #fff;text-align: center;">
			<img style="width: 100%;border-top: 5px solid #529519;" src="http://panaroma.technodev.xyz/assets/email/city.png"/>
			{{--<h2 class="welcome-text" style="color: #336699;font-size: 36px;font-weight: 620;line-height: 70%;">Techno Life</h2>

			<p style="color: #999999;font-size: 14px;padding: .1% 5%;"><b>Kagoji</b>, Your request is accepted for change user password. Please click below button for password reset.</p>
			<div  style="padding: 6% 3%;">
				<a href="#"><button class="btn btn-large btn-primary" style="background: linear-gradient(183deg, #5488BD 0%, #336699 100%);padding: .7rem 2rem;margin: auto;font-weight: bold;font-size: 14px;border-color: #1585D8;border-radius: 4px;cursor: pointer;color: #fff;" value="">Reset Password</button></a>
			</div>--}}
			@yield('mail-content')
			<div  style="width: 100%; text-align: center;">
				<img  src="http://panaroma.technodev.xyz/assets/email/logo.png"/>
			</div>
			<br>&nbsp;<br><br>
		</div>
		<div style="text-align: center;">
			<p  style="line-height: 200%; font-size: 12px;"> Technolife soultion OU | 800 Broadway, Suite 1500 | New York, NY 000123, USA.<br>
				View Web Version | Email Preferences | Privacy Policy<br>
				If you have any quetions please contact us support@mail.com.<br>
				<u>Unsubscribe from our mailing lists</u>
			<p>
		</div>
	</div>
</div>




